/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c47725;
  padding: 20px;
}

/* ETA container styling */
.eta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

/* Icon styling */
.eta-icon {
  width: 55px;
  height: 28px;
}

/* Travel time text styling */
.eta-text {
  font-size: 40px;
  font-family: "Instrument Serif", serif;
  color: #ffffff;
  text-align: right;
  flex-grow: 1;
  margin-left: 20px;
}

iframe {
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
